body {
    margin: 0;
    height: 100%;

    font-family: sans-serif;
    display: flex; 
    flex-direction: column;

}

canvas {
    /* justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    border: 5px solid;
    display: block; */
<<<<<<< HEAD
    /* background: red; */
  
    display: block;
    border: 5px solid;
    justify-self: center;
=======
    width: 100vw;
    height: 100vh;
    display: block;
    border: 5px solid;
>>>>>>> 5df5ac7467259aa97fd417e391561a4ef8aa834c
}


.topBar {
    /* flex: 1;
    flex-direction: row;
    justify-content: space-around; */
<<<<<<< HEAD
    font-size: 2em;
=======
>>>>>>> 5df5ac7467259aa97fd417e391561a4ef8aa834c
    width: 100%;
    background-color: rgb(238, 187, 187);
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
=======
>>>>>>> 5df5ac7467259aa97fd417e391561a4ef8aa834c
}

div{
    margin:5px; 
}

.mainBody{
    width: 100%;
    height: 100%;
    background-color: red;
    padding: 10px;
    justify-content: center;
    align-items: center;

}